footer {
  background-color: gray;
  display: flex;
  max-width: 1300px;
  min-height: 250px;
  margin: 0 auto;
}

footer .item-footer {
  width: 33.3%;
  padding: 20px;
  position: relative;
  justify-content: center;
  color: white;
  /* border: 1px solid white; */
}

footer .text-mision {
  font-size: 12px;
}

footer .logo-footer {
  display: block;
  margin: 5px 5px 10px 5px;
  width: 200px;
}

footer .social {
  margin: 0px auto;
  width: 170px;
}

footer .sub-tituto-footer {
  font-size: 11px;
  margin: 20px 0 15px 0;
}

.container-social-icon {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

footer .icon-social {
  width: 30px;
  margin-left: 13px;
}

footer #contacto {
  font-size: 12px;
  display: block;
  padding-left: 20px;
}

footer #contacto {
  line-height: 1.7;
  align-items: center;
}

#titulo-footer {
  text-align: center;
  font-size: 14px;
  margin: 8px 0 0 0;
}

#direccion a {
  text-decoration: none;
  color: white;
}

#direccion:hover {
  cursor: pointer;
  text-decoration: underline;
}

#empresas-footer a {
  text-decoration: none;
  display: block;
  width: 100px;
  color: white;
  font-size: 12px;
  line-height: 2.5;
  text-indent: 10px;
}

#empresas-footer a:hover {
  text-decoration: underline;
}

#autor {
  background-color: #1b2127;
  height: 30px;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#autor p {
  margin: 0;
  color: white;
  font-size: 12px;
}

#autor a {
  text-decoration: none;
  color: white;
}

#autor a:hover {
  cursor: pointer;
  text-decoration: underline;
}
