footer {
  background-color: gray;
  display: flex;
  max-width: 130rem;
  min-height: 25rem;
  margin: 0 auto;
  font-size: 1.2rem;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer .item-footer {
  width: 33.3%;
  padding: 2rem;
  position: relative;
  justify-content: center;
}

footer .logo-footer {
  margin: 0.5rem 0.5rem 10px 0.5rem;
  width: 20rem;
}

footer .social {
  margin: 0 auto;
  width: 17rem;
}

footer .sub-tituto-footer {
  font-size: 1.1rem;
  margin: 2rem 0 1.5rem 0;
  text-align: center;
}

.container-social-icon {
  text-align: center;
  font-size: 3rem;
}

.icon-social {
  width: 3rem;
  margin: 0 0.5rem;
}

footer #contacto {
  padding-left: 2rem;
}

footer #contacto {
  line-height: 1.7;
}

#titulo-footer {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 0.8rem;
}

#direccion:hover {
  cursor: pointer;
  text-decoration: underline;
}
#telefono:hover {
  cursor: pointer;
  text-decoration: underline;
}

#empresas-footer a {
  display: block;
  width: 10rem;
  line-height: 2.5;
  text-indent: 1rem;
}

#empresas-footer a:hover {
  text-decoration: underline;
}

#autor {
  background-color: #1b2127;
  height: 3rem;
  max-width: 130rem;
  margin: 0 auto;
  text-align: center;
  padding: 0.6rem 0 1.2rem 0;
  font-size: 1.2rem;
  color: white;
}

#autor a {
  text-decoration: none;
  color: inherit;
}

#autor a:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 720px) {
  footer {
    display: block;
  }
  footer .item-footer {
    width: inherit;
  }
  footer .sub-tituto-footer {
    text-align: center;
  }
}
