.header {
  display: flex;
  justify-content: space-around;
  background-color: #ff1212;
  max-height: 55px;
  max-width: 1300px;
  margin: 0 auto;
}

.menu {
  display: flex;
  width: 1300px;
}

.container-logo {
  height: 90px;
}

.logo {
  position: relative;
  top: 10px;
  margin-left: 20px;
  height: 90px;
  padding: 10px;
  background-color: #ff1212;
  box-shadow: 3px 2px 6px #e61111;
}

.container a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  width: 100%;
  height: inherit;
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

.container .item-menu {
  display: flex;
}

.titulo-menu {
  display: flex;
  height: inherit;
  padding: 0 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container #normas {
  background-color: #ff4d12;
}

.container #normas:hover {
  background-color: #e61111;
}

.container .item-menu:hover {
  background-color: #e61111;
}
.container .item-menu:hover .titulo-menu {
  color: #ffc4c4;
}

#oferta {
  width: 132.317px;
}

#empresas {
  width: 168.05px;
}

.container .item-menu .sub-menu {
  list-style-type: none;
  position: absolute;
  width: inherit;
  top: 55px;
  padding: 0;
  background-color: #b31e1e;
  box-shadow: 3px 3px 8px #b31e1e;
}

.container .item-menu .sub-menu li {
  padding: 16px;
  margin: 0px;
  text-align: left;
}

.container .item-menu .sub-menu li:hover {
  background-color: #ca2222;
}

#oferta .sub-menu {
  display: none;
}

#oferta:hover .sub-menu {
  display: block;
}

#empresas .sub-menu {
  display: none;
}

#empresas:hover .sub-menu {
  display: block;
}
@media screen and (max-width: 720px) {
  .container {
    display: block;
  }
}
