.header {
  display: flex;
  background-color: #ff1212;
  max-height: 5.5rem;
  max-width: 130rem;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.container-logo {
  height: 9rem;
}

.logo {
  position: relative;
  top: 1rem;
  margin-left: 2rem;
  height: inherit;
  padding: 1rem;
  background-color: #ff1212;
  box-shadow: 0.3rem 0.2rem 0.6rem #e61111;
}
#burger-button {
  display: none;
}
#phone-hedaer {
  display: none;
}
.container .item-menu,
a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

.container {
  display: flex;
  height: inherit;
  list-style-type: none;
  justify-content: right;
}

.container .item-menu {
  display: flex;
  text-align: center;
}

.titulo-menu {
  display: flex;
  height: inherit;
  padding: 0 1.2rem;
  justify-content: center;
  align-items: center;
}
/* 
.titulo-menu::after {
  content: " | ";
} */

.container #normas {
  background-color: #ff4d12;
}

.container #normas:hover {
  background-color: #e61111;
}

.container .item-menu:hover {
  background-color: #e61111;
}
.container .item-menu:hover .titulo-menu {
  color: #ffc4c4;
}

.container .item-menu .sub-menu {
  list-style-type: none;
  position: absolute;
  width: inherit;
  top: 5.5rem;
  padding: 0;
  background-color: #b31e1e;
  box-shadow: 0.3rem 0.3rem 0.8rem #b31e1e;
}

.container .item-menu .sub-menu li {
  padding: 1.6rem;
  margin: 0;
  text-align: left;
  transition: 0.3s;
}

.container .item-menu .sub-menu li:hover {
  background-color: #ca2222;
}

.sub-menu {
  display: none;
}

/* #oferta:hover .sub-menu {
  display: block;
}
#empresas:hover .sub-menu {
  display: block; 
} */

@media screen and (max-width: 895px) {
  .container-logo {
    display: flex;
    order: 2;
    height: 8rem;
    justify-content: center;
  }
  .container {
    display: none;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    top: 55px;
  }
  .container.is-active {
    display: flex;
  }
  .item-menu {
    background-color: #ff1212;
    height: 5rem;
    width: 15rem;
  }
  #burger-button {
    display: flex;
    order: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(204, 24, 24, 0.699);
    z-index: 4;
    color: white;
    font-size: 2rem;
    margin-top: 0.6rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #phone-hedaer {
    display: flex;
    order: 3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(204, 24, 24, 0.699);
    z-index: 4;
    color: white;
    font-size: 2rem;
    margin-top: 0.6rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .container .item-menu {
    text-align: inherit;
  }
  .logo {
    height: 8rem;
  }
  #oferta .sub-menu {
    left: 150px;
    top: 0px;
  }
  #empresas .sub-menu {
    left: 150px;
    top: 49px;
  }

  #empresas .sub-menu.is-active {
    display: block;
  }
  #oferta .sub-menu.is-active {
    display: block;
  }
}
@media screen and (max-width: 702px) {
  .container-logo {
    height: 7rem;
  }
  .logo {
    height: 7rem;
  }
}
@media screen and (max-width: 320px) {
  .container-logo {
    height: 7rem;
  }
  .logo {
    height: 7rem;
  }
}
