/* Colores
#ff1212
#b31e1e
azul #003d59
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: freight-sans-pro-n4, freight-sans-pro, sans-serif;
  /* background-color: rgb(223, 221, 221); */
}

.hero {
  display: flex;
  max-width: 130rem;
  margin: 0 auto;
  background-color: #9bdfdd;
}
.container-image-hero {
  width: 40%;
}

.image-hero {
  width: 100%;
}

/* .container-promocion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promocion {
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  max-width: 25rem;
  min-height: 25rem;
  padding: 0.8rem;
  background-color: rgba(0, 61, 89, 0.733);
  color: white;
  font-size: 1.8rem;
} */

.bienvenida {
  display: flex;
  flex-direction: column;
  text-align: initial;
  font-size: 1.5rem;
  justify-content: space-evenly;
  width: 60%;
  padding: 3rem;
  color: white;
}

.titulo-hero,
.descripcion-hero {
  padding-bottom: 2rem;
}

.button-hero {
  padding-top: 1rem;
}

.button-hero a {
  text-decoration: none;
  color: white;
  border-radius: 8px;
  padding: 4px;
  background-color: #003d59;
}

@media screen and (max-width: 895px) {
  .hero {
    height: auto;
  }
  .container-image-hero {
    width: 50%;
    padding: 0;
  }
  .bienvenida {
    width: 50%;
  }
}
@media screen and (max-width: 702px) {
}
@media screen and (max-width: 550px) {
  .hero {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
  }
  .container-image-hero {
    height: 60%;
  }
  .bienvenida {
    text-align: center;
    height: 40%;
    width: 80%;
    padding: 0;
    padding-top: 4rem;
    margin-bottom: 1.2rem;
  }
}
